.auth_page {
  padding: 20px;
}

.logins_details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.auth_logo img {
  position: absolute;
  width: 200px;
  top: 0;
  left: 0;
}
.auth_heading h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  color: var(--main-color);
  text-align: center;
  letter-spacing: -0.96px;
  font-family: "Inter", sans-serif;
}
.auth_heading p {
  font-size: 16px;
  font-style: normal;
  color: var(--gray-700);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.logins_socials button {
  background-color: var(--main-bg-color);
  color: var(--gray-950);
  border: 1px solid var(--gray-150);
  width: 100%;
  text-align: center;
  padding: 8px;
  margin-top: 15px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1.5px 4px -1px #0a090b12;
}

.logins_socials button span {
  margin-right: 9px;
  font-size: 24px;
  line-height: 0;
}

.separator {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.separator .line {
  height: 1px;
  flex: 1;
  background-color: var(--secondary-bg-light);
}

.separator h2 {
  padding: 0 10px;
  color: var(--gray-550);
  font-size: 14px;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05px;
}

.input_vss {
  border: 1px solid var(--gray-250) !important;
  padding: 12px 8px 12px 12px !important;
  font-size: 14px !important;
  width: 28rem !important;
  border-radius: 8px !important;
  box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07) !important;
}
.auth_input {
  margin-top: 15px;
}
.input_vss:focus {
  outline: none !important;
  border: 1px solid var(--gray-250) !important;
  box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07) !important;
}
.input_vss::placeholder {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--gray-550) !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  letter-spacing: -0.05px !important;
}

.input_check label {
  font-size: 14px;
  color: var(--gray-950);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -0.18px;
}

.forget_password button {
  background-color: var(--main--bg-color);
  border: none;
  color: #1751d0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02px;
}

.submit_btn input[type="submit"] {
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: #1751d0;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.route_auth p {
  color: var(--gray-700);
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.13px;
}

.route_auth p a {
  text-decoration: none;
  color: #1751d0;
  margin-left: 8px;
}

.auth_img {
  width: 100%;
  height: 95vh;
  background-image: url("app/assets/auth-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 13px;
  overflow: hidden;
  position: relative;
}
.img_content {
  position: absolute;
  bottom: 15px;
}
.img_content p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 29px;
  letter-spacing: -0.72px;
}

.auth_user h3,
.auth_user p {
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 14px;
  font-family: 400;
}
.page_btm {
  position: absolute;
  bottom: 0;
}
.page_btm p {
  font-size: 13px;
  color: var(--gray-700);
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05px;
}
.privacy_policy {
  margin-right: 15px;
}
.sign_check p {
  color: var(--gray-700);
  font-size: 14px;
  display: flex;
  align-items: center;
}
.sign_check p span {
  display: block;
  height: 25px;
  width: 25px;
  background-color: #e6e6e6;
  margin-right: 12px;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  .auth_heading h2 {
    font-size: 26px;
  }
  .img_content p {
    font-size: 16px;
  }
  .auth_heading p {
    font-size: 15px;
  }
  .logins_socials button {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .auth_page {
    padding: 15px;
  }
  .auth_heading h2 {
    font-size: 22px;
  }
  .auth_heading p {
    font-size: 14px;
  }
  .logins_socials button {
    font-size: 13px;
  }
  .input_check label {
    font-size: 13px;
  }
  .forget_password button {
    font-size: 13px;
  }
  .submit_btn input[type="submit"] {
    font-size: 13px;
  }
  .route_auth p {
    font-size: 13px;
  }
  .img_content p {
    font-size: 14px;
  }
  .auth_user h3,
  .auth_user p {
    font-size: 13px;
  }
  .input_vss {
    width: 100% !important;
  }
}
@media only screen and (max-width: 767px) {
  .auth_page {
    padding: 10px;
  }
  .auth_methods {
    display: flex;
    height: 97vh;
    flex-direction: column;
    justify-content: center;
  }
  .auth_img {
    display: none;
  }
  .auth_heading h2 {
    font-size: 18px;
  }
  .input_vss {
    font-size: 13px !important;
  }
  .input_vss::placeholder {
    font-size: 13px !important;
  }
  .input_check label {
    font-size: 12px;
  }
  .forget_password button {
    font-size: 12px;
  }
  .submit_btn input[type="submit"] {
    font-size: 12px;
  }
  .route_auth p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 380px) {
  .hei_smal {
    height: 115vh;
  }
}
