.insights_page {
  padding-top: 25px;
  border-top: 1px solid var(--gray-200);
}

.insights_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats_card {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
}
.insights_banner h1 {
  font-size: 35px;
  font-weight: 600;
  color: var(--main-color);
}

.insights_select {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
}
.insights_select select {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 125px;
}

.icon_vshc {
  width: 50px;
  height: 50px;
}

.icon i {
  font-size: 25px;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.card {
  overflow: hidden;
  border: 1px solid var(--gray-200) !important;
  border-radius: 15px !important;
}
.card-body {
  background-color: var(--gray-100);
  padding: 25px !important;
}
.insights_numbers {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 25px;
}

.card-title {
  color: var(--gray-800) !important;
  font-size: 16px;
  margin-bottom: 10px !important;
}

.insights_info_icon {
  height: 20px;
  width: 20px;
  background-color: var(--gray-200);
  border: 1px solid var(--gray-300);
  border-radius: 25px;
  display: grid;
  place-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 10px;
}

.form-select:focus {
  border-color: none !important;
  outline: 0;
}

@media only screen and (max-width: 1550px) {
  .insights_banner h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--main-color);
  }
  .card-body {
    background-color: var(--gray-100);
    padding: 17px !important;
  }
  .card-title {
    color: var(--gray-800) !important;
    font-size: 13px;
    margin-bottom: 10px !important;
  }
  .insights_numbers {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 575px) {
  .insights_banner h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
  }
  .insights_select select {
    font-size: 12px;
    width: 94px;
  }
  .insights_select {
    gap: 5px;
    width: 67%;
  }
}
