@import url("https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root[data-applied-mode="light"] {
  color-scheme: light;
  --main-color: black;
  --background: #fafafa;
}
:root[data-applied-mode="dark"] {
  color-scheme: dark;
  --main-color: white;
  --background: #000;
}
